<div class="myapp">
	<div id="page-wrapper">

		<!-- Header -->

		<!-- Main -->
		<section id="main" class="container 50%">
			<header>
				<h2>Post Free</h2>
				<p>Join us and make your own card</p>
			</header>
			<div class="box">
				<div class="row uniform 50%">
					<div class=" 12u">
						<input ng-model="ctrl.username" type="text" name="name" id="name" value="" placeholder="UserName" required autofocus/>
					</div>
				</div>
				<div class="row uniform 50%">
					<div class=" 12u">
						<input ng-model="ctrl.password" type="text" name="password" id="password" value="" placeholder="Password" />
					</div>
				</div>
				<div class="row uniform 50%">
					<div class="12u">
						<input ng-model="ctrl.password2" type="text" name="password2" id="subject" value="" placeholder="Confirm Password" />
					</div>
				</div>
				<div class="row uniform 50%">
					<div class="12u">
						<input ng-model="ctrl.phone" type="text" name="phone" id="subject" value="" placeholder="Phone" />
					</div>
				</div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<ul class="actions align-center">
						<li>
							<li>
								<button ng-click="ctrl.signup()" class="button special">Sign Up</a>
							</li>
						</li>
					</ul>
				</div>
			</div>
		</section>


	</div>

</div>
