<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div ng-repeat="postcard in $ctrl.postcards">
                <div class="6u 12u(medium)">
                    <!-- Box -->
                    <section class="box feature">
                        <a href="" class="image featured"><img ng-src="{{postcard.imageUrl}}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>{{postcard.description}}</h2>
                                <p>{{postcard.creator.name}}</p>
                            </header>
                        </div>

                    </section>
                </div>
            </div>
        </div>


    </div>
</div>
