.content {
  padding: 20px;
}


/*
**  add out border for table
*/
.table-border-out,
.form-border-out,
.select-frame {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
}

table {
  margin: 10px;
}

/*
**  set a middle size form bodered
*/
.form-middle {
  width: 400px;
}

/*
**  set the button in table more small
*/
.btn-group>button {
  height: 25px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 3px;
}

/*
**  select form
*/
.select-frame {
  padding: 10px;
}
.select-title {
  margin-bottom: 10px;
}
.select-item {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.select-item:hover, .clickable {
  cursor: pointer;
  color: #ffb82a;
}

/*
**  error
*/
.error {
  color: red;
}