<nav class="navbar navbar-inverse">

  <div class="navbar-header">
    <span class="navbar-brand">轻轻盒子后台管理</span>
  </div>

  <ul class="nav navbar-nav nav-links">
    <li ng-class="{active: ctrl.$state.current.data.nav=='location'}">
    	<a ui-sref="nav.location">学校寝室</a>
    </li>
    <li ng-class="{active: ctrl.$state.current.data.nav=='task'}">
      <a ui-sref="nav.task">任务管理</a>
    </li>
    <li ng-class="{active: ctrl.$state.current.data.nav=='product'}">
      <a ui-sref="nav.product">商品管理</a>
    </li>
    <li ng-class="{active: ctrl.$state.current.data.nav=='user'}">
      <a ui-sref="nav.user">用户管理</a>
    </li>
    <li ng-class="{active: ctrl.$state.current.data.nav=='record'}">
      <a ui-sref="nav.record">记录管理</a>
    </li>
    <li ng-class="{active: ctrl.$state.current.data.nav=='administrator'}">
      <a ui-sref="nav.administrator">管理员管理</a>
    </li>
  </ul>

</nav>
<div ui-view></div>