<div class="myapp landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a> Post Free </a></h1>
			<nav id="nav">
				<ul>
					<li>
						<a href="" class="icon fa-angle-down">首页</a>
						<ul>
							<li><a href="">热门</a></li>
							<li><a href="">最新</a></li>
						</ul>
					</li>
					<li><a href="#" class="icon">个人主页</a></li>
					<li><a href="#" class="button">注销</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<h2>Post Free</h2>
			<p>Quickly create and design your own post card</p>
			<ul class="actions">
				<li><a href="#" class="button special">Let's make it</a></li>
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</section>

		<!-- Main -->
		<section id="main" class="container">

			<section class="box special">
				<header class="major">
					<h2>Beautify your life
							<br />
							with those creative post cards</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare
						<br /> adipiscing nunc adipiscing. Condimentum turpis massa.</p>
				</header>
				<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
			</section>

			<div class="row">
				<postcard-list class="6u 12u(medium)"></postcard-list>
			</div>

		</section>

		<!-- CTA -->
		<section id="cta">

			<h2>Sign up for beta access</h2>
			<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

			<form>
				<div class="row uniform 50%">
					<div class="8u 12u(mobilep)">
						<input type="email" name="email" id="email" placeholder="Email Address" />
					</div>
					<div class="4u 12u(mobilep)">
						<input type="submit" value="Sign Up" class="fit" />
					</div>
				</div>
			</form>

		</section>

	</div>
</div>
